/* Global */

 body {
 	font-family: 'Open Sans', sans-serif;
 	font-weight: regular;
 }

 h3	{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

/* Top Nav */

.top-bar .name h1 a, .top-bar-section ul li > a.kname {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

img.ewulogo {

	width:50px;
	height: 50px;
	margin-top: -5px;
}

img.kelseypic {

	width: 30px;
	height: 30px;
	margin-right: 10px;

}

/* Grades */

div.assignments {

	margin-top: 75px;
}


/* Tabs */

div.tabmargin {

	margin-top:10px;

}